{
  // "extends": "@antfu",
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "rules": {
    // 保存代码时缩进4个空格
    // "indent": [
    //   "error",
    //   4
    // ]
    "no-console": [
      "warn",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "curly": [
      "error",
      "multi-line",
      "consistent"
    ],
    "brace-style": "off",
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs"
      // {
      //   "allowSingleLine": true
      // }
    ],
    "antfu/if-newline": "off", // 允许if(a==1) return 1  这种单行的格式
    "antfu/top-level-function": "off",
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          [
            "script",
            "template"
          ],
          "style"
        ]
      }
    ],
    "vue/first-attribute-linebreak": [
      "warn",
      {
        "multiline": "beside"
      }
    ],
    "vue/html-closing-bracket-newline": [
      "warn",
      {
        "multiline": "never"
      }
    ],
    "vue/html-indent": [
      "warn",
      2,
      {
        "alignAttributesVertically": false
      }
    ],
    "vue/dot-location":"off"
  }
}